@import "~bootstrap/scss/bootstrap.scss";
  
body{
    margin:0;
}

.container {
    text-align: center;
   
}

.header{ 
     min-height: 10vh;
     justify-content: center;
     text-align: center;
     padding: 10px;
     width: auto;
     margin: auto;
     background-color: #a0a0a0;
  
}


.card{
    background-color: #ffbb00;
    box-shadow: 5px 5px 3px #c7c7c7;
    
}

.delButton{
     width: 2rem;
}

.listSection{
    
     justify-content: center;
     text-align: center;
     padding: 10px;
     width: auto;
     margin: auto;
     background-color: #eeeeee;

}