@import "~bootstrap/scss/bootstrap.scss";
  
body{
    margin:0;
}

.container {
    text-align: center;
   
}

.header{ 
     min-height: 10vh;
     justify-content: center;
     text-align: center;
     padding: 10px;
     width: auto;
     margin: auto;
     background-color: #563d7c;
}


.card{
    background-color: yellow;
}

.delButton{
     width: 2rem;
}