@import "~bootstrap/scss/bootstrap.scss";
  
body{
    margin:0;
}

.container {
    text-align: center;
    margin: auto
} 

.wrapper{ 
     min-height: 10vh;
     justify-content: center;
     text-align: center;
     padding: 10px;
     width: 40rem;
     margin: auto;
}


